@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
      font-family: 'catamaran';
      src: url('/public/fonts/catamaran.ttf');
    }
  }
@layer base {
  @font-face {
    font-family: "merriweather";
    src: url("../public/fonts/merriweather-light.ttf");
  }
}